.box .mediacount {
	width:611px;
	background:url(../../images/b-mboxcontentbg.gif) repeat-y center;
	padding:3px 12px 16px 14px;
	_padding-bottom:3px;
}
.mediacount #galleryname {
	float:left;
	display:inline;
	color:#1c517c;
	font:16px "Arial";
	font-weight:bold;
}
.mediacount #albumcount {
	display:inline;
	float:right;
	color:#257000;
	font:16px "Arial";
	font-weight:bold;
	margin-right:8px;
}
.box .album {
	width:621px;
	border-top:1px dashed #9db9cf;
	background:url(../../images/b-mboxcontentbg.gif) repeat-y;
	padding:17px 0px 18px 16px;
}
.album .title {
	float:left;
	display:inline-block;
	color:#1c517c;
	font:14px "Arial";
	font-weight:bold;
	padding-top:1px;
}
.album .albcount {
	display:inline-block;
	float:right;
	color:#7f8189;
	font:10px "Arial";
	position:relative;
	left:-19px;
}
.album .subtitle {
	display:block;
	color:#7f8189;
	font:12px "Arial";
	padding-bottom:2px;
	margin-top:7px;
	margin-bottom:15px;
	_margin-bottom:2px;
	position:relative;
	_top:-13px;
}
.album img {
	vertical-align:top;
	border:1px solid #959595;
	padding:1px;
	margin-right:4px;
}
.delete {
	width:108px;
	height:23px;
	_height:26px;
	background:url(../../images/btn-deletealbum.gif) no-repeat;
	border:0px;
	cursor:pointer;
	position:relative;
	top:20px;
	_top:17px;
	margin-bottom:10px;
}
.body-main .box .content {
	width:610px;
	background:url(../../images/b-mboxcontentbg.gif) repeat-y center;
	padding:0px 12px 0px 15px;
}
.content .title {
	color:#1c517c;
	font:16px "Arial";
	font-weight:bold;
	padding-top:1px;
}
.content .subtitle {
	color:#7f8189;
	font:12px "Arial";
	padding-bottom:2px;
	margin-top:4px;
}
.content .row {
	text-align:center;
	margin-bottom:19px;
}
.row img {
	border:1px solid #b6b6b6;
	padding:1px;
	vertical-align:top;
	margin-right:4px;
}
.content .entry {
	clear:both;
}
.entry .ttle {
	float:left;
	color:#056a9a;
	font:13px "Arial";
	font-weight:bold;
	margin:11px 0px 8px 0px;
}
.entry input {
	float:left;
	width:281px;
	background:url(../../images/registerinputbg.gif) no-repeat;
	border:0px;
	color:#7f8189;
	font:19px "Arial";
	padding:7px;
	clear:left;
}
