/*-------------------------------------------

Altered By: Balaji.S
Date:17/MAR/2010
Purpose: Adding styles for tourpage

---------------------------------------------*/

/* SLIDER */
#slider .pages {
	padding-top: 25px;
	padding-right: 13px;
	padding-bottom: 10px;
	padding-left: 15px;
}
#slider .pages .prev, #slider .pages .next {
display:block;
height:24px;
width:110px;
background:url(/images/slider_np.jpg) no-repeat;
text-align:center;
font-weight:bold;
color:#056a9a;
font-size:13px;
text-decoration:none;
text-transform:uppercase;
padding:10px 0 0 0;
}
#slider .pages .prev:hover, #slider .pages .next:hover {
color:#000;
}
#slider .pages .prev {
float:left;
}
#slider .pages .next {
float:right;
}
div.tabContainer div.tab {
	display: none;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #5F6167;
	padding:20px 20px 20px 15px;
	text-align: left;
	width: 693px;
	border:1px solid #b7ccd3;
	height:auto;
	min-height:319px;
	line-height:24px;
	margin: 0 0 0 -17px;
}
div.tabContainer div.tab p {	margin: 0 0 25px 0; }
div.tabContainer div.tab img {
	padding:5px;
	background:#f5f7f7;
	border:1px solid #89B6C5;
	margin:0 0 15px 0;
}
div.tabContainer { float:left; padding: 0 0 0 7px; text-align:left; position:relative; z-index:1; }
div.tabContainer div.tab.current { display: block; text-align: left; width: 693px; border:1px solid #b7ccd3;  height:auto; min-height:319px; padding:20px 20px 20px 15px; margin: 0 0 0 -17px; }
div.tabContainer div.tab ul.features li {
	display:block;
	float:left;
	width:315px;
	height:auto;
	background:url(/images/slider_bullet.jpg) no-repeat 0 12px;
	vertical-align:text-top;
	padding:5px 0 5px 20px;
	color:#838383;
	font-size:13px;
	}
div.tabContainer .tr {
		position:absolute;
		top:0;
		right:0;
		height:8px;
		width:8px;
		background:url(/images/slider_tr.gif) no-repeat;
	}
div.tabContainer .br {
		position:absolute;
		bottom:0;
		right:0;
		height:8px;
		width:8px;
		background:url(/images/slider_br.gif) no-repeat;
	}
	
	
.tabNav {
	float:left;
	width:217px;
	height:360px;
	position:relative;
	border-top:1px solid #b7ccd3;
	margin:0 0 0 15px;
	z-index:10;
	}
	.tabNav .tl {
		position:absolute;
		top:-1px;
		left:0;
		height:8px;
		width:8px;
		background:url(/images/slider_tl.png) no-repeat;
	}
	.tabNav .bl {
		position:absolute;
		bottom:-1px;
		left:0;
		height:8px;
		width:8px;
		background:url(/images/slider_bl.png) no-repeat;
	}
	.tabNav li {
		display:block;
		height:60px;
		width:217px;
		background:url(/images/slider_nav.png) no-repeat bottom;
		float:left;
			}	
			.tabNav li.current {
				background-position:top;
			}
	.tabNav li a {
		color:#056a9a;
		font-size:14px;
		text-decoration:none;
		font-weight:bold;
		display:block;
		height:38px;
		width:160px;
		padding:22px 0 0 50px;
	}
	.tabNav li.current a {
		color:#fff;
		text-shadow:1px 1px #022053;
	}

#slider .description {
padding:20px 13px 5px 25px;
}	
#slider h1 {
font-size:18px;
font-weight:bold;
color:#1c517c;
margin:0 0 10px;
}
#slider .description .text p {
margin:0 0 25px 0;
}
#slider .description .text {
	font-size:14px;
	color:#7f8189;
	line-height:26px;
	float:left;
	padding:0 30px 0 0;
	display:inline;
	width:auto;
	width:450px;
}
#slider .description .text .start {
	display:block;
	height:36px;
	border:none;
	width:231px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(/images/slider_start.jpg) no-repeat;
}
#slider .description .video {	display:inline; float: right; padding:7px; background:#f5f7f7; border:1px solid #d0e2e8; margin:0 0 15px 0; width:430px; }

/*-------------------------------------------
alter ends.
---------------------------------------------*/