


/*************************
**************************

Required Styles for the Popup


**************************
**************************/


#trans
{
	position:fixed;
	width:100%;
	height:100%;
	background:url(../../images/tutor_profile/trans.png) repeat;
	top:0;
	left:0;
}

.filter-popup
{
	width:600px;
	position:relative;
	top:30px;
	left:50%;
	margin-left:-250px;
	background:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
	border:1px solid #d5d4d4;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	line-height:16px;
	margin-bottom:30px;
}

.filter-popup-inner
{
	position:relative;
}
.filter-popup-close
{
	position:absolute;
	right:20px;
	top:20px;
}
.filter-popup h3
{
	color:#1c517c;
	font-size:15px;
	margin-bottom:26px;
	font-weight:bold;
}
.filter-popup h3 .steps
{
	font-weight:bold;
}
.filter-popup .row-1
{
	padding:20px;
	border-bottom:1px solid #d5d4d4;
}
.filter-popup .row-1 form
{
	margin-bottom:12px;
}
.filter-popup .row-1 input[type="text"] {
    background: url("../../images/tutor_profile/gradient.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #D7D7D7;
    border-radius: 2px 2px 2px 2px;
    color: #6A6A6A;
    height: 30px;
    line-height: 30px/9;
    text-indent: 12px;
	width:175px;
	margin-left:10px;
}
.filter-popup p
{
	color:#333;
}

.row-2
{
	width:100%;
	padding:20px;
}

.row-2 .categories {
	width:270px;
	float:left;
	color:#666;
}

.categories label
{
	width:125px;
	float:left;
	padding:3px;
}

#personal-inform input[type=text]
{
	background:url(../../images/tutor_profile/gradient.jpg) repeat-x;
	border:none;
	border:1px solid #d7d7d7;
	height:30px;
	width:180px;
	line-height:30px/9;
	text-indent:12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color:#6A6A6A;
}
#personal-inform p
{
	margin-bottom: 8px!important;	
	color:#333;
}

#personal-info p
{
	margin-bottom: 8px!important;	
	color:#333;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}
.row-3
{
	padding:20px;
	background:url(../../images/tutor_profile/pattern.jpg) repeat;
}
#filter
{
	background: url("../../images/tutor_profile/tutor-activate-sprite.png") no-repeat scroll 0 1px transparent;
    border: medium none;
    color: #5D7731;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    right: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    width: 202px;
}
#filter:hover
{
	background-position:0 -41px;
}
