[submodule "src/lib/vendor/symfony1"]
	path = src/lib/vendor/symfony1
	url = http://github.com/symfony/symfony1.git
[submodule "src/lib/vendor/phake"]
	path = src/lib/vendor/phake
	url = git://github.com/mlively/Phake.git
