*{
	padding:0px;
	margin:0px;
	border:0px;
}
body{
	font-family:Tahoma;
	font-size:8pt;
}
.c236{
	background-image:url('../img/php-ajax-chat_06.gif');
	width:214px;
	height:60px;
}
#c237{
	margin-top:15px;width:180px;height:30px;text-align:center;font-weight:bold;font-size:14pt;
}
#c236b{
	background-color:#dce8f3;
	border:solid 1px #7aa2d9;
	width:294px;
	height:200px;
	margin-top:10px;
	margin-bottom:20px;
}
#c236b .c{
	height:25px;
	width:auto;
	background-color:#69C;
	color:#FFF;
	margin:1px;
}
#c236b div a{
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
}
#c236b div a:hover{
	text-decoration:underline;
}
#c236b div .a{
	float:left;
	margin-left:5px;
	margin-top:4px;
	font-weight:normal;
}
#c236b div .b{
	float:right;
	text-align:right;
	margin-right:5px;
	margin-top:4px;
	font-weight:normal;
}
table tr td{
	vertical-align:top;
	text-align:left;
}


#shibaba {
font-family: Verdana;
font-size: 8pt;
width: 410px;
height: 34px;
padding:2px;
border: 1px solid #8EAFDD;
}
.smiley {
border: 1px solid #FFFFFF;
background-color: #FFE3CA
}
.smiley tr td{
	padding:4px;
}
.smilitext {
font-family: Verdana;
font-size: 7pt;
color: #FFFFFF;
font-weight: bold;
height: 16
}
#a506{
	display:none;
}
#smh, #sizez{
	position:absolute;
}
#fontz, #FONTZC{
	position:absolute;
	background-color:#F93
}
.fontz tr td{
	padding:5px;
}
.font_interface {
font-size: 8pt;
font-family: Arial;
}
.fontz2 tr td{
	padding:5px;
	white-space:nowrap;
	text-align:left;
}
.dboo34{
	font-weight:normal;background-image:url('../pix/room_user.gif');background-repeat:no-repeat;background-position:top left;height:20px;padding-left:20px;width:110px;
	
}
.dboo34 a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
}
.dboo34 a:hover{
	text-decoration:underline;
}

.dboo35{
	width:auto;
	font-size: 8pt;
	color:#000;
	font-weight:normal;
}

.dboo35 .a{
	font-family: Arial;
font-size: 9pt;
color: #880000;
font-weight: bold
}
.dboo35 .b{
	font-family: Arial;
font-size: 9pt;
color: #0000FF;
font-weight: bold;
}
#a000{
	border-bottom:solid 1px #FFF;
}
#cpr{
	margin-top:20px;text-align:center;
	padding:5px;padding-top:0px;;
}
#cpr a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
}
#cpr a:hover{
	text-decoration:underline;
}