/* CSS file */


/* 

Note : It is possible to make loads of 'style' changes in here. 
Please only put colour and font changes in the styles. This will ensure a consistent look and feel accross the app. 

Inheritence order of styles is 

    inline
    class
    type
    ancestor's class type
    global
    
*/

/*

this has been specified in the startup css file
    
global
{
   fontFamily: "Arial";
   fontSize: 9;
   fontWeight: "normal";
   
   themeColor: #cdcdcd;
}
*/

/* 

type selectors (these are for those components for which we have not needed to create a K+N version) 
or those components across which we always want to have the same settings
*/ 

/* 
    in this style sheet (only ?) this is used to reset the colous back to the defaults
    after using the startup stylesheet to set kn(ish) startup colours 
*/   

Application {
   backgroundColor: #ffffff;
   backgroundGradientColors: #ffffff, #ffffff;
}
.topSection {
   backgroundColor: #383a38;
   backgroundGradientColors: #383a38, #383a38;
   backgroundGradientAlphas: 1, 1;
}
.logoSection {
   background-size: 425;
   vertical-align: top;
   horizontal-align: left;
}
.sectionlogo {
   background-size: 180;
   vertical-align: top;
   horizontal-align: left;
}	
Panel {
   borderThicknessLeft: 1;
   borderThicknessTop: 1;
   borderThicknessBottom: 1;
   borderThicknessRight: 1;
   roundedBottomCorners: true;
   cornerRadius: 10;   
   header-height:37;
   borderAlpha: 1;
   headerColors: #ffd62f, #dcaf01;
   footerColors: #ffffff, #ffffff;
   padding-left: 10;
   dropShadowEnabled: true;
   titleStyleName: "mypanelTitle";
}

.mypanelTitle {
   color: #000000;
   font-weight:bold;
   fontFamily: Tahoma;
   fontSize: 13;
}		
myFormItemLabelStyle {
	font-family: Tahoma;
	font-size: 12;
	color: #000000;
	text-align: left;	
}	
TextInput {
   borderStyle: solid;
   borderColor: #006699;
   backgroundColor: #fff4cd;
   dropShadowEnabled: false;
}
.Button {
	font-family:Tahoma;
	font-size: 14;
	font-weight: normal;
	padding-bottom: 2;
	padding-left: 18;
	padding-right: 18;
	padding-top: 2;
	color: #000000;
	text-roll-over-color: #000000;
	corner-radius: 5;
	border-thickness: 1;
	border-color: #e5b910;
	border-style: solid;
	background-color: #e5b910;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #f8c914, #e5b910, #f8c914, #e5b910;
}
.Search {
	font-family:Tahoma;
	font-size: 12;
	font-weight: normal;
	color: #000000;
	text-roll-over-color: #000000;
	corner-radius: 5;
	border-thickness: 1;
	border-color: #e5b910;
	border-style: solid;
	background-color: #e5b910;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #f8c914, #e5b910, #f8c914, #e5b910;
}
.Category {
	font-family:Tahoma;
	font-size: 12;
	font-weight: normal;
	color: #000000;
	text-roll-over-color: #000000;
	corner-radius: 5;
	border-thickness: 1;
	border-color: #0083A1;
	border-style: solid;
	background-color: #00D0FF;
	fillAlphas: 1, 1, 1, 1;
   	fillColors: #00D0FF, #0083A1, #00D0FF, #0083A1;
}
Text {
	font-family: Tahoma;
	font-size: 20;
	Color: #000000;
	font-style: normal;
	text-align:center;	
}
.bottomSection {
	backgroundColor: #383a38;
   	backgroundGradientColors: #383a38, #383a38;
  	backgroundGradientAlphas: 1, 1;
  	vertical-align: middle;
  	horizontal-align: center;
  	color: #ffffff; 
}	
.copyRight {
	font-family: Tahoma;
	font-size: 10;
	Color: #ffffff;
	font-style: normal;
	text-align: center;
}
/* CSS file */
.recIcon {	
	icon: Embed("assets/images/recording_button.png");
	padding-top:7;
}	
.stopIcon {	
	icon: Embed("assets/images/stop_button.png");
	padding-top:7;
}
.playIcon {	
	icon: Embed("assets/images/play_button.png");
	padding-top:7;
}
.pauseIcon {
	icon: Embed("assets/images/pause_button.png");
	padding-top:7;
}
.recording {
	font-family:"Arial";
	font-size:13;
	color:#000000;
	font-weight:bold;
	text-align:left;	
}
.time {
	font-family:"ArialBlack";
	font-size:16;
	color:#3f6f00;
	font-weight:bold;
	text-align:left;	
	font-sharpness:10;
}		
.textIcon {
	icon: Embed("assets/images/text_icon.png");
	padding-top:7;
}
.pencilIcon {
	icon: Embed("assets/images/pencil_icon.png");
	padding-top:7;
}
.lineIcon {
	icon: Embed("assets/images/line_icon.png");
	padding-top:7;
}
.shapeIcon {
	icon: Embed("assets/images/shape_icon.png");
	padding-top:7;
}
.eraserIcon {
	icon: Embed("assets/images/eraser_icon.png");
	padding-top:7;
}
.arrowIcon {
	icon: Embed("assets/images/arrow_icon.png");
	padding-top:7;
}
.selectionIcon {
	icon: Embed("assets/images/selection_icon.png");
	padding-top:7;
}
	

.mybuttonBarButtonStyle {
   highlightAlphas: 0.06, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #d7d7d7, #96b800, #6b8500;
   color: #000000;
   textRollOverColor: #ffffff;
   textSelectedColor: #000000;
   borderColor: #aab3aa;
   themeColor: #11c400;
}

.mybuttonBarFirstButtonStyle {
	highlightAlphas: 0.06, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #d7d7d7, #96b800, #6b8500;
   color: #000000;
   textRollOverColor: #ffffff;
   textSelectedColor: #000000;
   borderColor: #aab3aa;
   themeColor: #11c400;
}

.mybuttonBarLastButtonStyle {
	highlightAlphas: 0.06, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #d7d7d7, #96b800, #6b8500;
   color: #000000;
   textRollOverColor: #ffffff;
   textSelectedColor: #000000;
   borderColor: #aab3aa;
   themeColor: #11c400;
}

		