@import url('fonts/stylesheet.css');
/*
---------------------------------------------
General Styling
--------------------------------------------- */
*{
	margin:0;
	border:0;
	outline:0;
	padding:0;
	text-decoration:none;
}
body
{
	min-width:1000px;
	font-family: 'HelveticaLight';
}
a
{
	color:#fff;
}
.clear
{
	clear:both;
}
.container
{
	width:975px;
	margin:0 auto;
	position:relative;
}
input[type=submit]
{
	cursor:pointer;
}
.play {
	margin-left:32px;
}
.play a {
	background:url(/images/landing/play.png) no-repeat;
	width:237px;
	height:43px;
	text-indent:-9999px;
	text-transform:uppercase;
	display:block;
}
.play a:hover {
	background:url(/images/landing/play.png) 0 -68px no-repeat;
}
/*
---------------------------------------------
Header Styling
--------------------------------------------- */
#header
{
	background:url(/images/landing/topnav/header-bg.gif) repeat-x;
	height:47px;
	padding-top:4px;
	position:fixed;
	z-index:99999;
	width:100%;
	top:0px;
}
#header .container h1
{
	float:left;
	margin-top: -4px;
}
#navigation
{
	margin-left:24px;
	background:url(/images/landing/topnav/navigation-gradient.png) repeat-x;
	height:32px;
	line-height:32px;
	float:right;
	margin-top:2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
}
#navigation li
{
	display:inline-block;
	*display:inline;
	zoom:1;
	padding:0 11px;
	background:url(/images/landing/topnav/nav-border.png) right 6px no-repeat;
}
#navigation li a:hover
{
	text-decoration:underline;
}
#navigation li:last-child
{
	background:none;
}
/*
---------------------------------------------
Register Section Styling
--------------------------------------------- */
#register
{
	background:url(/images/landing/blackboard.jpg) 0 bottom repeat-x;
	height:432px;
	padding-top:51px;
	border-bottom:1px solid #000;
}
#register-form
{
	width:100%;
	position:absolute;
	padding-top:90px;
}
#register-form h3
{
	text-align:center;
	margin-bottom:34px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:35px;
	font-weight:bold;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
}

.main-question
{
	text-align:center;
}
.main-question input[type=text]
{
	width:656px;
	height:75px;
	background:url(/images/landing/question-input.png) no-repeat;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:0 22px;
	color:#919294;
	line-height:75px;
	text-shadow: 0px 1px 0px #000000;
}
#register-block
{
	margin:0 auto;
	width:630px;
	padding-bottom:18px;
	background:url(/images/landing/register-block-bg.png) repeat;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4); 
}
#register-block h4
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#64666a;
	text-shadow:0px 1px 0 rgba(255,255,255,.5);
	vertical-align:middle;
	line-height:31px;
	padding:10px 20px;
	border-bottom:1px solid #9d9ea0;
}
#register-block h4 img
{
	vertical-align:middle;
	float:right;
}
#register-block-fields
{
	border-top:1px solid #e8e9ea;
}
#register-block-fields li
{
	float:left;
	list-style-type:none;
	background:url(/images/landing/register-block-input.png) no-repeat;
	width:290px;
	height:41px;
	margin:18px 0 0 20px;
	margin-right:-10px;
}
#register-block-fields input{
width:230px;
height:41px;
padding-left:40px;
padding-right:20px;
line-height:41px\9;
color:#878787;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
background:none;
}
#register-block-fields #name
{
	background:url(/images/landing/user-icon.png) 14px center no-repeat;
}
#register-block-fields #email
{
	background:url(/images/landing/email-icon.png) 14px center no-repeat;
}
#register-block-fields #password,#register-block-fields #confirm-password
{
	background:url(/images/landing/password-icon.png) 14px center no-repeat;
}
#tos-create-account
{
	margin-top:18px;
}
#tos-create-account .tos
{
	float:left;
	text-align:right;
	font-size:11px;
	color:#5a5c60;
	text-shadow:0 1px 0 rgba(255,255,255,0.1);
	width:280px;
	margin-left:20px;
	line-height:16px;
	padding-top:5px;
}
#tos-create-account .tos a
{
	color:#5a5c60;
	font-weight:bold;
}
#tos-create-account .tos a:hover
{
	text-decoration:underline;
}
#tos-create-account .create-account
{
	float:right;
	margin-right:18px;
}
.register-block {
	background: url(/images/landing/register-block-bg.png) repeat scroll 0 0 transparent;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	margin: 0 auto;
	padding-bottom: 18px;
	width: 630px;
	z-index: 9999;
}
.register-block h4 {
	border-bottom: 1px solid #9D9EA0;
	color: #64666A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 31px;
	padding: 10px 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	vertical-align: middle;
}
.register-block h4 img {
	float: right;
	vertical-align: middle;
}
#facebook-login {
	text-align: center;
}
#no-id {
	display: none;
}
#facebook-login img {
	margin-top: 30px;
}
#facebook-login p {
	color: #5A5C60;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	margin: 5px auto 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	width: 540px;
}
#facebook-login p.dots {
	margin-top: 0;
}
#facebook-login p.dots img {
	margin-top: 5px;
}
.register-block-fields {
	border-top: 1px solid #E8E9EA;
}
.register-block-fields li {
	background: url(/images/landing/register-block-input.png) no-repeat scroll 0 0 transparent;
	float: left;
	height: 41px;
	list-style-type: none;
	margin: 18px -10px 0 20px;
	width: 290px;
}
.register-block-fields input[type="text"] {
	background: none repeat scroll 0 0 transparent;
	color: #878787;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 41px;
	line-height: 41px;
	padding-left: 40px;
	padding-right: 20px;
	width: 230px;
}
.register-block-fields #name {
	background: url(/images/landing/user-icon.png) no-repeat scroll 14px center transparent;
}
.register-block-fields #email {
	background: url(/images/landing/email-icon.png) no-repeat scroll 14px center transparent;
}
.register-block-fields #password, .register-block-fields #confirm-password {
	background: url(/images/landing/password-icon.png) no-repeat scroll 14px center transparent;
}
#tos-create-account {
	margin-top: 18px;
}
#tos-create-account .tos {
	color: #5A5C60;
	float: left;
	font-size: 11px;
	line-height: 16px;
	margin-left: 20px;
	padding-top: 5px;
	text-align: right;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	width: 280px;
}
#tos-create-account .tos a {
	color: #5A5C60;
	font-weight: bold;
}
#tos-create-account .tos a:hover {
	text-decoration: underline;
}
#tos-create-account .create-account {
	float: right;
	margin-right: 18px;
}
#no-fb-button {
	color: #5A5C60;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
#no-fb-button:hover {
	color: #8B8E94;
}
/*

/*
---------------------------------------------
Bubble Section Styling
--------------------------------------------- */
#bubble-section
{
	background:url(/images/landing/grid.png) repeat-x;
}
#bubble-section .container
{
	background:url(/images/landing/bubble-inner.png) top center no-repeat;
	min-height:575px;
}
.bubble
{
	text-align:center;
	float:left;
	width:325px;
	margin-top:40px;
}
.bubble h3
{
	font-size:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
	margin-bottom:22px;
}
.bubble p {
	color: #8C8C8C;
	font-size: 15px;
	line-height: 22px;
	margin: 0 auto 40px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	width: 220px;
}
/*
---------------------------------------------
Questions Section Styling
--------------------------------------------- */
#questions {
	height: 800px;
}
.q-1, .q-2, .q-3, .q-4, .q-5, .q-6, .q-7, .q-8 {
	position:fixed;
	color:#8e8e8e;
}
.q-1 {
	background:url(/images/landing/qmark-1.png) no-repeat;
	width:255px;
	min-height:91px;
	top:950px;
	left:10%;
	z-index:3;
}
.q-1 h3, .q-1 p {
	width:170px;
	margin-left:80px;
}
.q-1 h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:bold;
	color:#000;
}
.q-1 p {
	font-size:15px;
}
.q-2 {
	background:url(/images/landing/qmark-2.png) no-repeat;
	width:313px;
	min-height:180px;
	top:920px;
	left:36%;
	z-index:8;
}
.q-2 h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:42px;
	font-weight:bold;
	color:#000;
	margin-top:30px;
}
.q-2 h3, .q-2 p {
	width:216px;
	margin-left:145px;
}
.q-2 p{
	font-size:20px;
}
.q-3 {
	background:url(/images/landing/qmark-3.png) no-repeat;
	width:247px;
	height:262px;
	top:890px;
	right:10%;
	z-index:10;
}
.q-4 {
	background:url(/images/landing/qmark-4.png) no-repeat;
	width:412px;
	height:262px;
	top:1050px;
	left:5%;
	z-index:9;
}

.q-4 p {
	width:216px;
	margin-left:188px;
	margin-top:55px;
	font-size:26px;
}
.q-5 {
	background:url(/images/landing/qmark-5.png) no-repeat;
	width:209px;
	top:1180px;
	right:15%;
	z-index:4;
}
.q-5 p {
	width:195px;
	margin-left:90px;
	font-size:18px;
	margin-top:15px;
}
.q-6 {
	top:1330px;
	left:33%;
	z-index:5;
}
.q-7 {
	left: 15%;
	top: 1580px;
	z-index:6;
}
.q-8 {
	top:1470px;
	right:25%;
	z-index:7;
}
/*
---------------------------------------------
Whiteboard Section Styling
--------------------------------------------- */
#whiteboard {
	background:url(/images/landing/background.jpg) 0 -1070px repeat-x;
	padding-top:50px;
	z-index:1000;
	position:relative;
}
#whiteboard .container {
	padding:100px 0 80px 0;
	width:900px;
}
#whiteboard .plus {
	display:block;
	width:36px;
	height:36px;
	position:absolute;
	font-size:32px;
	font-family:"Arial Black", Helvetica, sans-serif;
	font-weight:bolder;
	color:#fff;
	text-align:center;
	line-height:36px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.41);
	filter: dropshadow(color=#000, offx=1, offy=1);
}
#whiteboard .plus-green {
	background:#89a500;
	left:87px;
	top:236px;
	-webkit-box-shadow: 0px 1px 0px 0px #000000;
	-moz-box-shadow: 0px 1px 0px 0px #000000;
	box-shadow: 0px 1px 0px 0px #000000;
}
#whiteboard .plus-grey {
	background:#9f9f9f;
	right: 24px;
	top:166px;
	-webkit-box-shadow: 0px 1px 0px 0px #000000;
	-moz-box-shadow: 0px 1px 0px 0px #000000;
	box-shadow: 0px 1px 0px 0px #000000;
}
#whiteboard .plus-blue {
	background:#17689f;
	left:750px;
	top:336px;
}
#whiteboard .plus-orange {
	background:#ffb422;
	left:205px;
	top:442px;
}
#plus-green, #plus-grey, #plus-blue, #plus-orange {
	position:absolute;
	background:url(/images/landing/trans-whiteboard-tooltip.png) repeat;
	padding:28px 22px 23px 17px;
	width:150px;
	color:white;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	height: 149px;
}
#plus-green h3, #plus-grey h3, #plus-blue h3, #plus-orange h3 {
	font-size:34px;
	line-height:34px;
	font-style:normal;
	margin-bottom:10px;
}
#plus-green p, #plus-grey p, #plus-blue p, #plus-orange p {
	font-family: 'HelveticaLightOblique'
}
#plus-green {
	left: -102px;
	top: 36px;
}
#plus-green h3 {
	color:#a4c500;
}
#plus-grey {
	right: -165px;
	top: -34px;
}
#plus-grey h3 {
	color:#d6d6d6;
}
#plus-blue {
	right: -75px;
	top: 372px;
	height:110px;
}
#plus-blue h3 {
	color:#1e7fc1;
}
#plus-orange {
	top:478px;
	left:16px;
	z-index: 2;
}
#plus-orange h3 {
	color:#ffa800;
}
.clip {
	width:66px;
	height:92px;
	position:absolute;
	bottom:0;
	z-index:1;
}
.clip-left {
	left:80px;
}
.clip-right {
	right:-20px;
}
/*
---------------------------------------------
Newsletter Section Styling
--------------------------------------------- */
#newsletter {
	background:url(/images/landing/newsletter-bg.png) repeat;
	z-index:1100;
	position:relative;
}
#newsletter .container {
	background:url(/images/landing/newsletter.png) repeat-y;
	height:500px;
	padding-bottom:50px;
}
#newsletter #newsletter-content {
	background:url(/images/landing/newsletter-2.png) 0 36px no-repeat;
	height:500px;
	margin-left:-15px;
}
#newsletter #newsletter-content .video {
	position:absolute;
	left:38px;
	top:90px;
}
form#newsletter-form {
	position:absolute;
	left:505px;
	top:55px;
	width:405px;
}
form#newsletter-form p {
	color:#000000;
	font-size:20px;
	margin-bottom:8px;
}
form#newsletter-form p:first-child {
	font-size: 18px;
	margin-bottom: 30px;
	margin-left: 172px;
	-moz-opacity: 0.58;
	opacity: 0.58;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=58)";
	filter:alpha(opacity=58);
}
form#newsletter-form input[type=text] {
	background:url(/images/landing/input-button.png) no-repeat;
	width:365px;
	height:62px;
	color:#575757;
	font-size:22px;
	line-height:62px;
	padding:0 20px;
}
form#newsletter-form a {
	background:url(/images/landing/register-button.png) no-repeat;
	width:350px;
	height:65px;
	margin-left:2px;
	text-indent:-9999px;
	text-transform:uppercase;
	display:block;
}
form#newsletter-form a:hover {
	background:url(/images/landing/register-button.png) 0 -80px no-repeat;
}
/*
---------------------------------------------
Footer Section Styling
--------------------------------------------- */
.footer {
  width:100%;
  margin:0;
  background:#ECF4F9;
  border-top:2px solid #0078B3;
}
.footer .container {
  width:900px;
  padding:26px 16px 50px 16px;
  margin-right:auto;
  margin-left:auto;
  font-size:13px;
  color:#333;
}
.footer .container a{
  color:#006699;
}
.footer .container a:hover{
  text-decoration:underline;
}

/*Clearfix*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
/* edited 13/12/2011 */.input-fader {
	display:block!important;
	height:34px;
	line-height:34px;
	width:290px;
	padding:0 0 0 15px;
	background:#fff!important;
	zoom:1;
	vertical-align:middle;
	-moz-border-radius-topleft: 5px!important;
	-webkit-border-radius: 5px!important;
	border-radius: 5px!important;
	margin: 0 0 10px;
}
.input-fader label {
	display: block;
	-moz-border-radius-topleft: 0px!important;
	-moz-border-radius-topright: 0!important;
	-moz-border-radius-bottomright: 0!important;
	-moz-border-radius-bottomleft: 0px!important;
	-webkit-border-radius: 0px 0 0 0px!important;
	border-radius: 0px 0 0 0px!important;
	position:absolute!important;
	z-index:1;
	padding:0!important;
	background:none!important;
}
.input-fader input {
	display:block;
	height:34px;
	line-height:34px;
	padding:0!important;
	width:100%;
	position:absolute;
	z-index:3;
	color:#333!important;
	background: none!important;
}
#registration-form input, #login-form input {
	-moz-border-radius-topleft: 0px!important;
	-moz-border-radius-topright: 0!important;
	-moz-border-radius-bottomright: 0!important;
	-moz-border-radius-bottomleft: 0px!important;
	-webkit-border-radius: 0px 0 0 0px!important;
	border-radius: 0px 0 0 0px!important;
	color:#676767;
	font-size:16px;
	position:relative;
}
