/* CSS Document */

.spacer {
	clear:both;
}
#top {
	margin:23px 27px 0px 27px;
}
#top a#create-account {
	_float:left;
!float:left;
	display:inline-block;
	cursor:pointer;
	height:23px;
	line-height:23px;
	color:#1c517c;
	font:14px "Arial";
	font-weight:bold;
	background:url(../images/arrow-right.gif) no-repeat top left;
	padding-top:3px;
	padding-left:51px;
	position:relative;
	top:2px;
}
#top .step {
	float:right;
	display:inline-block;
	margin-left:39px;
}
.step .active, .step .inactive {
	_float:left;
!float:left;
	display:inline-block;
	width:17px;
	height:24px;
	color:#fff;
	font:12px "Georgia";
	font-weight:bold;
	padding:3px 0px 0px 9px;
}
.step .active {
	background:url(../images/stepactive.gif) no-repeat;
}
.step .inactive {
	background:url(../images/stepinactive.gif) no-repeat;
}
.step .descri {
	display:inline;
	color:#7f8189;
	font:12px "Arial";
	margin-left:9px;
	position:relative;
	_top:5px;
!top:5px;
}
#body .body-main {
	width:637px;
	padding:0px;
	margin-top:14px;
	margin-left:15px;
	_margin-left:14px;
}
.body-main .box {
	margin-bottom:13px;
}
.body-main .box .top {
	width:637px;
	height:14px;
	background:url(../images/b-mboxtop.gif) no-repeat top center;
}
.body-main .box .top-green {
	width:638px;
	height:16px;
	background:url(../images/b-mboxtopgreen.gif) no-repeat top center;
}
.body-main .box .content {
	width:610px;
	background:url(../images/b-mboxcontentbg.gif) repeat-y center;
	padding:0px 12px 0px 15px;
}
.body-main .box .content-green {
	width:611px;
	background:url(../images/b-mboxcontentbggreen.gif) repeat-y center;
	padding:0px 12px 0px 15px;
}
.content .title {
	color:#1c517c;
	font:16px "Arial";
	font-weight:bold;
}
.content .subtitle {
	color:#7f8189;
	font:12px "Arial";
	padding-bottom:5px;
	margin-top:3px;
}
.content .entry {
	clear:both;
}
.entry .ttle {
	float:left;
	color:#056a9a;
	font:13px "Arial";
	font-weight:bold;
	margin:11px 0px 8px 0px;
}
.entry input {
	float:left;
	width:281px;
	background:url(../images/registerinputbg.gif) no-repeat;
	border:0px;
	color:#7f8189;
	font:19px "Arial";
	padding:7;
	clear:left;
}
.entry .txtareabg {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/edit-profile-txtareabg.gif) no-repeat scroll 0 0;
	float:left;
	height:126px;
	position:relative;
	width:295px;
	z-index:3;
}
.entry textarea {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	-x-system-font:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	color:#7F8189;
	float:left;
	font-family:"Arial";
	font-size:16px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:102px;
	left:-295px;
	line-height:normal;
	overflow:auto;
	padding:12px;
	position:relative;
	width:271px;
	z-index:4;
}
.entry select {
	width:156px !important;
	height:40px;
	background:#fff url(../images/selectyearbg.gif) no-repeat;
	float:left;
	margin-right:5px;
	color:#3d3d3d;
	font:14px "Arial";
	border:0px;
	padding:11px 10px 10px 12px;
}
.content .available {
	float:left;
	width:266px;
	height:27px;
	background:url(../images/available.gif) no-repeat;
	color:#fff;
	font:12px "Arial";
	font-weight:bold;
	margin-left:9px;
	padding:13px 0px 0px 40px;
}
.content .information {
	float:left;
	width:265px;
	height:47px;
	background:url(../images/firstnamewhy.gif) no-repeat;
	color:#fff;
	font:12px "Arial";
	padding:10px 0px 0px 40px;
	margin-left:9px;
}
.body-main .box .bottom {
	width:637px;
	height:18px;
	background:url(../images/b-mboxbottom.gif) no-repeat bottom center;
}
.body-main .box .bottom-green {
	width:638px;
	height:27px;
	background:url(../images/b-sboxbottomgreen.gif) no-repeat top center;
}
.body-main #referaltext {
	float:left;
	color:#308d00;
	font:14px 'Arial';
	font-weight:bold;
	position:relative;
	top:11px
}
.body-main #photoupload {
	width:400px;
	margin-left:40px;
	color:#7f8189;
	font:19px 'Arial';
	padding:7px;
}
.body-main #tos {
	color:#6b6e77;
	font-family:"Arial";
	margin-left:13px;
	margin-bottom:23px;
}
#tos input {
	position:relative;
	top:2px;
}
#tos a {
	color:#257000;
}
.body-main #register {
	width:264px;
	height:35px;
	background:url(../images/registeraccount.gif) no-repeat;
	border:0px;
	margin-bottom:44px;
}
#body .body-side {
	padding:0px;
	margin-top:14px;
	margin-right:15px;
	_margin-right:16px;
	width: 285px;
}
.body-side .box .top {
	height:10px;
	background:url(../images/b-sboxtop.gif) no-repeat top center;
}
.body-side .box .content {
	background:url(../images/b-sboxcontentbg.gif) repeat-y center;/*	padding-top: 6px;
	padding-right: 28px;
	padding-bottom: 5px;
	padding-left: 22px;*/
					}
.body-side .box .content .title {
	color:#257000;
	font:13px "Arial";
	font-weight:bold;
	line-height:24px;
	margin-top:12px;
}
.body-side .box .content .text {
	color:#7f8189;
	font:12px "Arial";
	line-height:22px;
	margin-top:5px;
}
.body-side .box .bottom {
	height:14px;
	background:url(../images/b-sboxbottom.gif) no-repeat bottom center;
}
