/*     new css     */
#backgroundPopup
{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#222222;
border:1px solid #cecece;
z-index:999;
}

.popup
{
margin:-200px 0 0 -100px;
display:none;
position:fixed;
_position:fixed; /* hack for internet explorer 6*/
height:200px;
width:408px;
background:#FFFFFF;
border:20px solid  #000000;
z-index:1000;
padding:12px;
font-size:13px;

}

.popupClose
{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
.button
{
text-align:center;
margin:100px;
}
#popuploginClose
{
color:#EE0000;
text-decoration:none;
}
#popuplogin table tr td
{
color:#000033;

}

