#header {
	background: url("/images/landing/topnav/header-bg.gif") repeat-x scroll 0 0 transparent;
	height: 47px;
	padding-top: 4px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}
#header .container h1 {
	float: left;
	margin-top: -4px;
}
#navigation {
    background: none;
    border-radius: 5px 5px 5px 5px;
    float: right;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight:normal;
    height: 32px;
    line-height: 32px;
    margin-left: 24px;
    margin-top: 2px;
}
#navigation li {
	background: url("/images/landing/topnav/nav-border.png") no-repeat scroll right 6px transparent;
	display: inline-block;
	padding: 0 11px;
}
#navigation li a {
	color: #ffffff;
}
#navigation li a:hover {
	text-decoration: underline;
}
#navigation li:last-child {
	background: none repeat scroll 0 0 transparent;
}

#video-button {
	position: absolute;
	top:43px;
	left: -252px;
	z-index: 999;
}

#media-logos {
	position: absolute;
	top: 43px;
	left: 871px;	
}

#video-player {
	position: absolute;
	top:4px;
	left: 233px;
	display: none;

}

#close-video {
	position: absolute;
	left: 718px;
	top: 11px;
	z-index: 99999;
	display: none;
	
}