@charset "utf-8";

h1, h2, h3, h4, h5, h6{ font-weight: 500; }
img { border-width:0; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic  }

table { width: 100%; border-collapse:separate; border-spacing: 0; }
	th, td { text-align: left; font-weight: 400; }
	legend, caption { position: absolute; left: -3000em; top: 0; }
	html* legend, html* caption { display: none; }
	

/*! Layout
---------------------------------------------*/
#skip{ position: absolute; top: 0; left: -10001px; margin: 0; padding: 0; }
	#skip a:focus, #skip a:active { display: block; position: absolute; left: 10001px; top: 0; z-index: 10001; width: 200px; margin: 15px 0 0 15px; padding: 2px 0; text-align: center; background: #333; color: #fff; }	div.table-a { width: 600px; margin: 0px 0 0 0px; padding: 0px 0 0 0;  }
div.table-a { border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; -khtml-border-radius: 12px; }
	div.table-a h3 { margin: 0 0 2px 0; padding: 0 0 0 14px; color: #002c50; font-size: 16px; font-weight: 700; }
	div.table-a h4 { margin: 0 0 13px 0;  padding: 0 0 0 14px; color: #7f8189; font-size: 12px; }
	div.table-a table { color: #1c6b99; font-size: 14px; }
	div.table-a table { border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; -khtml-border-radius: 12px; }
	div.table-a th { padding: 14px 0 13px 0; border-top: 1px solid #C2D3E0; border-left: 1px solid #C2D3E0; color: #002c50; font-weight: 700; text-align: center; }
	div.table-a td { padding: 0 0 0 19px; border-top: 1px solid #C2D3E0; border-left: 1px solid #C2D3E0; text-align: left; vertical-align: middle; }
	div.table-a th:first-child, div.table-a th.first, div.table-a td:first-child, div.table-a td.first { border-left: none; }
	div.table-a label { display: block; position: relative; float: left; width: 39px; height: 39px; margin: 18px 0 37px 6px; background: url(../images/grades.png) no-repeat; }
	html* div.table-a label { padding: 0 0 36px 0; }
		div.table-a label.a { }
		div.table-a label.b { background-position: -39px 0; }
		div.table-a label.c { background-position: -78px 0; }
		div.table-a label.d { background-position: -117px 0; }
		div.table-a label span { position: absolute; top: 0; left: -3000em; }
		div.table-a label input { position: absolute; left: 14px; bottom: -22px; }
		html* div.table-a label input { left: 10px; top: 45px; }

/*! Misc
---------------------------------------------*/
@media only screen and (max-device-width:480px) {
	html { -webkit-text-size-adjust: none; }
}
